.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-pagination-bullet-active {
  background: #00acee;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #00acee;
  font-size: 1.6rem;
}
